Body{
    blockground-color: lightblue;
}

.exemplo{
    color: white;
}

.ex.paragrafo{
    color:black;
}

.titulo{
    color: yellow;
}

.titulo1{
    background-color: lightblue;
}

.p-amarelo{
    background-color: yellow;
}

.titulo2{
    background-color: greenyellow;
}

.p-verde{
    background-color: greenyellow;
}

.p-azul{
    color: lightskyblue;
}

.p-verde2{
    color: green;
}

.titulo3{
    color: yellow;
}